name: Build Release
on:
  workflow_dispatch:
    inputs:
      arch:
        description: 'Target architecture (amd64, i386, etc)'
        required: true
        default: 'amd64'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: RubisetCie/build-deb-action@master
        env:
          DEB_BUILD_PROFILES: pkg.apt.nosqv
          BUILD_PRE: 'rm /usr/bin/sqv'
        with:
          buildpackage-opts: --build=binary --no-sign
          docker-image: debian:testing-slim
          host-arch: ${{github.event.inputs.arch}}
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: aptum-${{github.event.inputs.arch}}
          path: 'debian/artifacts/*'
          compression-level: 9
          if-no-files-found: error
